@import url(http://fonts.googleapis.com/css?family=Lato|Metrophobic|Patua+One);
/*Base styles*/
* {
    margin:0px;
    padding:0px;
}
body{
    background-color:#F7F7F7;
    line-height: 1.5;
    font-size: 12px;
    color: #515151;
}

a{
    text-decoration:none;
}
ul{
    list-style:none;
}
h1, h2, h3, h4 , h5, h6{
    color:#515151;
    font-family: 'Metrophobic', sans-serif;
    /*margin: 0*/
}
hr{
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid white;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
/*layout*/
header{
    background-color:#355664;
    border-bottom:1px #24404C solid;
    height:30px;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(220,220,220,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(220,220,220,1);		
    padding :10px 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
}
header nav ul{
    float: right;
    padding-top:5px;
}

header nav ul li{
    float:left;
    margin-left:10px;
}
header nav ul#user-dropdown li{
    float: none;
    padding-top:10px;
    margin: 0
}
header nav ul#user-dropdown li a{
    text-shadow: none;
    font-weight: bold;
}
header nav ul#user-dropdown li.dropdown-divider{
    padding-top: 1px;
    margin: 5px 1px 6px;
    border-bottom: 1px solid #DDD;
}
#content{
    padding-top: 75px;
    min-height: 700px;
}
.hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: 
        #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.hero-unit p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    color: inherit;
}
.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}
footer{
    padding:20px 0;
    clear:both;
    text-align:center;
    margin-top: 50px;
    /*	outline:#000000 1px solid;*/
}
footer li:first-child {
    border: none;
}
footer li {
    border-left: 1px solid #CCC;
    display: inline;
    margin-right: 5px;
    padding-left: 7px;
    margin-left: 0;
}
footer li a {
    color:#355664;
    font-size: 12px;
}
/**/
.logo {
    color: #E5E5E5;
    display: block;
    float: left;
    font-family: 'Metrophobic', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    height: 40px;
    text-shadow: 0px 1px 1px #565656;
    /*text-indent: -9999px;*/
    width: 145px;	
}
.logo:hover{
    color: whitesmoke;
    text-decoration: none;
}
/*search box*/

#searchbox {
    /*margin-left:50px;*/
    width:400px;
    display:inline;
}
#search{
    padding: 5px 0px;
    height: 18px;
    width: 200px;
    /*border: 1px solid #a4c3ca;*/
    font: normal 13px 'Metrophobic', arial, helvetica;
    background: #f1f1f1;

    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c transparent #578e57 #447d43;

    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}
#submit{
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));

    -moz-border-radius: 3px;
    border-radius: 3px;

    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;                

    height: 30px;
    margin: 0;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    margin-left:-5px
}
#submit:hover{
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}       

#submit:active{
    background: #95d788;
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner{
    border: 0;  /* Small centering fix for Firefox */
}
/*buttons*/
#button-sign{
    background-image: -webkit-linear-gradient(#f1d80a, #f1a833);
    background-image: -moz-linear-gradient(#f1d80a, #f1a833);
    background-image: -o-linear-gradient(#f1d80a, #f1a833);
    background-image: linear-gradient(#f1d80a, #f1a833);

    border:1px solid #f1d80a;

    /*-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    */
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.41);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.41);


    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight:bold;

    color: #23441e;
    padding: 7px 10px;
}
#button-login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
    color: #787878;
    padding: 7px 10px;
    background: -moz-linear-gradient(
        top,
        #f0f0f0 0%,
        #b5b5b5);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#f0f0f0),
        to(#b5b5b5));

    border: 1px solid #bcbcbc;
    -moz-box-shadow:
        0px 1px 2px rgba(000,000,000,0.2),
        inset 0px 1px 0px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 2px rgba(000,000,000,0.2),
        inset 0px 1px 0px rgba(255,255,255,1);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#button-register{
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));

    -moz-border-radius: 3px;
    border-radius: 3px;

    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;

    /*-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;*/                

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.41);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.41);

    height: 40px;
    margin-bottom: 5px;
    padding: 0.5em 1.5em;
    width: 200px;
    cursor: pointer;
    /*font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',sans-serif;*/
    font-weight:bold;
    letter-spacing:1px; 
    line-height: normal;
    color: #23441e;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    /*text-transform: uppercase; */
    font-size: 14px !important;
}

.popular-content{
    color:#515151;
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px 0px;
    padding:10px;	
}
.popular-content h3{
    /*font-size:20px;*/
    padding:5px;
}
/*forms commons*/
form{
}
fieldset{}
legend{}
label{
    font-size: 12px;
}
input{}
input[type="text"]{}
input[type="password"]{}
input[type="checkbox"]{}
input[type="radio"]{}
select{}
textarea{}

.field-block {
    margin-bottom: 10px;
    font-family: 'Metrophobic', sans-serif;
    color: #4d4d4d;
}
.field-title {
    padding-bottom: 2px; 
}
.field-title label{ 
    font-weight: bold; 
    color: #4d4d4d;
}
.field-input { 
    padding-bottom: 10px;
}
.error{
    color: #B94A48;
}
.field-input input.error, .field-input select.error, .field-input textarea.error { 
    border-color: #B94A48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
}
.field-input input:focus.error, .field-input select:focus.error, .field-input textarea:focus.error { 
    border-color: #953B39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
}
.field-input input,
.field-input textarea { 
    border-radius: 3px; 
    -moz-border-radius: 5px; 
    padding: 5px; 
    font-size: 12px; 
    border: 1px solid #DDD;
    color: #515151;
}

#login-form-container h3,
#login-form-container p{
    margin: 20px 0px 0px 130px;
    padding: 0px;
}
#login-form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px
}
#login-form .field-input{
    padding: 0
}
#login-form .field-input input{
    width: 250px;
    height: 28px;
}

#login-form .controls{
    margin-top: 20px;
    margin-left: 0
}
#modal-form{
    margin: 0px
}
#modal-form fieldset{
    padding: 0 20px;
}
.register-presentation,
.bookmark-item{
    background: #fff;
    background-image: -moz-linear-gradient(#fff, #F7F7F7);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #F7F7F7),color-stop(1, #fff));
}
.list-header{
    /*padding: 9px 15px;*/
    border-bottom: 1px solid #EEE;
    min-height: 40px;
}
span.tag{
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color:  #999;
}
.user-details{
}
.user-details a.avatar,
.bookmark-item a.bookmark-thumbnail{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #AAA;
    padding: 4px;
    vertical-align: top;
}
.bookmark-item a.bookmark-thumbnail img,
.bookmark-item a.bookmark-thumbnail{
    width: 80px;
    height: 80px;
}
.bookmark-item a.bookmark-thumbnail div.default-thumb{
    background: white no-repeat center center;
    background-image: url(http://icons.iconarchive.com/icons/sekkyumu/developpers/32/Web-Browser-icon.png);
    width: 100%;
    height: 100%;
}
.user-details a.avatar img{
    width: 44px;
    height: 44px;
}
.user-info{
    width: 700px;
    display: inline-block;
}
.user-info ul.user-stats{
    margin: 0px;
    padding: 0px;
}
.user-info ul.user-stats li{
    display: inline;
    margin-left: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
.bookmark-item{
    border-bottom:1px solid #DDD;
    border-top: 1px solid #FFF;
    padding: 5px;
}
.bookmark-item > * {
    line-height: 17px;
}
.bookmark-info{
    display: inline-block;
    width: 450px
}
.bookmark-info h3{
    line-height: 17px;
}
.bookmark-info h3,
.bookmark-info p{
    padding: 0px;
    margin: 0px;
}

.bookmark-info p{
    font-size: 14px;
    width: 475px;
    margin: 5px 0;
}
a.bookmark-url{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #AAA;
}
a.bookmark-title{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2F96B4;
    font-size: 13px;

}
.bookmark-tag-list{
    margin: 0px;
    padding: 0px;
}
.bookmark-tag-list li, 
.filter-tag-list li{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1px;
}
.bookmark-item .bookmark-item-control{
    font-size: 12px;
    width: 100%;
    text-align: right;
    /*margin-left: 230px;*/
}
.bookmark-item .bookmark-item-control ul li{
    display: inline;
    border-left: 1px solid #CCC;
    margin-left: 5px;
    padding: 0 5px;
}
.bookmark-item .bookmark-item-control ul li:first-child{
    border-left: none;
}
.user-account{}
.user-account a{
    color: #FFF;
    text-shadow: 0 1px 0 #000;
    font-weight: bold;
}
.user-account .dropdown-menu a{
    color: #515151;
}
.user-account a:hover{
    text-decoration: underline;
}
.user-account a.avatar img{
    width: 25px;
    height: 25px;
}
#add-bookmark-modal{
    width: 600px;
    margin: -450px 0 0 -280px;
    /*padding: 15px;*/
}
#add-bookmark-modal .modal-body{
    max-height: none
}
#add-bookmark-modal .field-input{
    padding-bottom: 0;
}
#add-bookmark-form{
    padding: 10px 20px;
    margin: 10px;
}
.filter-tag-list{
    margin-top: 5px;
    margin-left: 0;
}
.filter-item{
    width: 203px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.filter-item .filter-control ul {
    margin: 0;
}
.filter-item .filter-control li {
    display: inline;
    margin-left: 2px;
}
/*commons*/
.wb-border-radius-all{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.wb-left-float{
    float:left;
}
.wb-right-float{
    float:right;
}
.wb-box-with-shadow{
    background-color: white;
    border: 1px solid #CCC;
    -moz-box-shadow: 0 3px 4px #CCC;
    -webkit-box-shadow: 0 3px 4px #CCC;
}
.wb-font-x-big{
    font-size:24px;
}
.wb-font-big{
    font-size:18px;
}
.wb-font-medium{
    font-size:14px;
}
.wb-font-small{
    font-size:12px;
}
/*twitter bootstrap override*/
.webbook .modal-backdrop{
    background-color: whitesmoke;
}
.webbook .modal {
    width: 700px;
}

#comments-modal .modal-body{
    min-height: 400px;
}
.comment-item {
    padding: 5px;
    /*margin-bottom: 5px;*/
    border-top: 1px solid #FCFAFA;
    border-bottom: 1px solid #D9D4D4;
    background-color: whitesmoke;
    margin-left: 0;
}
.comment-content{
    position: relative;
    min-height: 45px;
}
#comments-list{
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    margin-left: 0;
}
.comment-text{
    margin-right: 60px;
    padding: 5px;
    position: relative;
    /*    border: 1px solid #DFDFDF;
        
        border-radius: 5px;*/


}
.comment-text p{
    font-size: 14px;
}
.comment-item .avatar{
    position: absolute;
    top: 0;
    right: 0;
}
.comment-item .avatar img{
    border: 1px solid #DDD;
    padding: 2px;
    width: 32px;
    height: 32px;
}
.comment-text .arrow {
    position: absolute;
    top: 10px;
    left: 275px;
    margin: 0;
    border-width: 10px 0 10px 10px;
    border-color: transparent;
    border-left-color: whitesmoke;
    padding: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
#comment-form textarea{
    width: 390px;
}
#comment-form .controls{
    text-align: right;
}
.friendship{
    padding: 5px;
    border-bottom: 1px solid #E5E5E5;
    min-height: 60px;
}
.friendship .avatar{
    float: left;
    margin-right: 10px;
}
.friendship-control{
    margin-right: -10px;
    float: right
}
.friendship-control li{
    display: inline;
    margin:0 10px 0 0;
}
.friendship-control form{
    display: inline;
}
.webbook .pagination a{
    background-color: white
}
.top-tags ul{
    margin-left: 5px;
}
.top-tags ul li{
    margin-left: 20px;
    margin-top: 5px;
}
.loading{
    position: relative;
    padding: 20px;
}
.loading .ajax-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-left: -32px;  -1 * image width / 2 */
    /*margin-top: -32px;   -1 * image height / 2 */
    display: block;
}
.form{
    padding:10px 0 0 20px;
}
.search-item{
    margin-bottom: 20px;
    position: relative;
}
.search-item p{
    margin: 0;
}
.search-item .avatar{
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
}
.search-item h4{
    font-size: 110%;
}
.search-item .user-result{
    margin-left: 50px;
}
.search-item .user-result .details{
    font-size: 80%;
}
/*styles for jquery validation plugin*/
label.error{
    color: #B94A48;
}
input.error{
    border-color: #953B39;
}
